.container {
  width: 80%;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(73, 73, 73);
  border-radius: 40px;
}
.search {
  color: white;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 60px;
  border: none;
  padding-left: 50px;
  font-size: 40px;
  box-shadow: none;
  background-color: transparent;
}
.search:focus {
  box-shadow: none;
  outline: none;
}
.search_icon {
  height: 60px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit__button {
  background-color: #FFFFF0;
  margin-left: 20px;
  padding: 20px 50px;
  border: none;
  color: black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
